body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: #1e2e3e;
}

/* HERO SECTION */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 10%;
}

.hero-content {
  max-width: 550px;
}

.hero h1 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #ffffff;
}

.hero p {
  font-size: 15px;
  color: #8aa1b9;
  line-height: 1.6;
  margin-bottom: 25px;
}

.hero-buttons {
  margin-bottom: 25px;
}

.btn-primary {
  background: #2A6592;
  color: white;
  padding: 12px 26px;
  text-decoration: none;
  font-weight: 600;
  border-radius: 8px;
  margin-right: 10px;
  transition: 0.25s;
}

.btn-primary:hover {
  background: #3B82F6;
}

.btn-secondary {
  background: white;
  border: 2px solid #2A6592;
  color: #2A6592;
  padding: 12px 26px;
  border-radius: 8px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.25s;
}

.btn-secondary:hover {
  background: #eaf3ff;
}

/* STATS */
.stats {
  display: flex;
  gap: 25px;
  margin-top: 80px;
  flex-wrap: nowrap;      /* Supaya memanjang */
}

.stats-item {
  padding: 16px 32px;
  border: 2px solid rgba(255,255,255,0.15);
  border-radius: 12px;
  background: rgba(255,255,255,0.05);
  text-align: center;
  cursor: pointer;
  transition: 0.25s ease;
  min-width: 160px;
}

.stats-item:hover {
  background: rgba(66, 155, 224, 0.25);
  border-color: #2A6592;
}

.stats-item h3 {
  margin: 0;
  font-size: 26px;
  font-weight: 700;
  color: #fcfcfc;
}

.stats-item p {
  margin: 0;
  margin-top: 5px;
  color: #8aa1b9;
  font-size: 14px;
}

/* IMAGE */
.hero-image img {
  width: 400px;
  border-radius: 10px;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-image img {
    margin-top: 30px;
    width: 300px;
  }

  .stats {
    overflow-x: auto; /* scroll saat layar kecil */
    padding-bottom: 15px;
  }
}

/* ANIMASI MEMUDAR */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInMove 1s ease forwards;
}

.fade-in.delay-1 { animation-delay: 0.2s; }
.fade-in.delay-2 { animation-delay: 0.4s; }
.fade-in.delay-3 { animation-delay: 0.6s; }
.fade-in.delay-4 { animation-delay: 0.8s; }
.fade-in.delay-5 { animation-delay: 1s; }
.fade-in.delay-6 { animation-delay: 1.2s; }

@keyframes fadeInMove {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.achievement-title {
  color: #ffffff;
  font-size: 22px;
  font-weight: 600;
  margin-top: 45px;
  margin-bottom: 10px;
}
